@using Dominio;
@model Recurrente;
@{
    ViewData["Title"] = "AltaRecurrente";
}

<h1>AltaRecurrente</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

<form method="post" action="/pagos/altaRecurrente">
    <input type="text" name="Descripcion" placeholder="Descripcion" />
    <select name="MetodoDePago">
        <option value=1>CREDITO</option>
        <option value=2>DEBITO</option>
        <option value=3>EFECTIVO</option>
    </select>
    <select name="nomTipoGasto">
        @foreach (TipoDeGasto t in Sistema.Instancia.TiposDeGasto)
        {
            <option value="@t.Nombre">@t.Nombre</option>
        }
    </select>
    <input type="number" name="Monto" placeholder="Monto" />
     <label>
            Fecha Inicio:
            <input type="date" name="FechaInicio" />
        </label>
        <label>
            Fecha Fin:
            <input type="date" name="FechaFin" />
        </label>
       <input type="submit" value="Crear Pago" />
</form>